@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
form input [type="datetime-local"] {
  color: #777;
}
body {
  background: linear-gradient(to top, rgb(165, 180, 252), rgb(192, 132, 252));
}
